[transmogrifier]
pipeline =
    catalogsource
    removeid
    constructor
    schema
    uid
    datafields
    workflow-history
    workflowupdater
    datesupdate
    reindexobject
    properties
    owner
    local_roles
#    permissions
#    browser-default
#    mimetype

[catalogsource]
blueprint = collective.jsonmigrator.catalogsource
remote-url = http://127.0.0.1:10007
remote-username = qgcom
remote-password = qgcom
catalog-path = /ag/portal_catalog
catalog-query =
    {'path': {'query': '/ag', 'depth': 7},}

[removeid]
blueprint = collective.transmogrifier.sections.manipulator
delete = id

[constructor]
blueprint = collective.transmogrifier.sections.constructor

[schema]
blueprint = transmogrify.dexterity.schemaupdater

[uid]
blueprint = plone.app.transmogrifier.uidupdater

[browser-default]
blueprint = plone.app.transmogrifier.browserdefault

[datafields]
blueprint = collective.jsonmigrator.datafields

[workflow-history]
blueprint = collective.jsonmigrator.workflowhistory

[workflowupdater]
blueprint = plone.app.transmogrifier.workflowupdater

[properties]
blueprint = collective.jsonmigrator.properties

[permissions]
blueprint = collective.jsonmigrator.permissions

[owner]
blueprint = collective.jsonmigrator.owner

[local_roles]
blueprint = collective.jsonmigrator.local_roles

[mimetype]
blueprint = collective.jsonmigrator.mimetype

[datesupdate]
blueprint = plone.app.transmogrifier.datesupdater

[reindexobject]
blueprint = plone.app.transmogrifier.reindexobject